Repository smacademic/project-GEEKS, pull requests merged in 2019-04, with the labels that each got.

#71 Update Section Implementation
  docs/GEEKSConceptualSchema.pdf
  docs/GEEKSLogicalSchema.docx
  src/db/createTables.sql
Labels: DocType - Code, DocType - Documentation

#72 Update addSectionMgmt.sql
  src/db/addSectionMgmt.sql
Labels: DocType - Code, Type - Enhancement

#79 Fix Search for Course Spelling Issue and Retitled Search for Courses Button
  src/webapp/client/index.html
Labels: DocType - Code, Location - Server

#78 Fixed Labels on add/remove course
  src/webapp/client/index.html
Labels: DocType - Code, Location - Server

#76 Add/Remove Section Middleware
  src/webapp/client/js/index.js
  src/webapp/gradebookServer.js
Labels: DocType - Code, Location - Server

#77 Add section mgmt ui
  src/webapp/client/index.html
  src/webapp/client/js/index.js
Labels: DocType - Code, Location - Server

#80 Pull New Features to Dev
  docs/GEEKSConceptualSchema.pdf
  docs/GEEKSLogicalSchema.docx
  src/db/addSectionMgmt.sql
  src/db/createTables.sql
  src/webapp/client/index.html
  src/webapp/client/js/index.js
  src/webapp/gradebookServer.js
Labels: DocType - Code, DocType - Documentation, Location - Client, Location - Server

#86 View and Modify Section DB Functions
  src/db/addSectionMgmt.sql
  src/db/createTables.sql
Labels: DocType - Code, Type - Enhancement

#90 Add update section ui
  src/webapp/client/index.html
Labels: DocType - Code, Location - Server

#94 Add system testing documentation
  tests/SystemTesting/GradebookSystemTesting.md
Labels: DocType - Documentation, Type - Enhancement

#91 Add functionality for Adding Instructor(s) to a Section
  src/db/addSectionMgmt.sql
Labels: DocType - Code, Type - Enhancement

#100 Hotfixes for Courses
  src/webapp/client/js/index.js
  src/webapp/gradebookServer.js
Labels: DocType - Code, Location - Server

#101 Assign Instructors DB Function Update
  src/db/addInstructorMgmt.sql
  src/db/addSectionMgmt.sql
Labels: DocType - Code, Type - Enhancement

#102 Update index.js
  src/webapp/client/js/index.js
Labels: DocType - Code, Location - Client, Priority - Medium, Type - Bug

#104 Update drop down menus
  src/webapp/client/index.html
  src/webapp/client/js/index.js
  src/webapp/gradebookServer.js
  src/webapp/package.json
Labels: DocType - Code, Location - Client, Location - Server

#103 Updated Section Mgmt UI
  src/webapp/client/index.html
Labels: DocType - Code, Location - Client, Type - Enhancement

#107 Fix Issue Template Labels
  .github/ISSUE_TEMPLATE/client-bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/idea-request.md
  .github/ISSUE_TEMPLATE/server-bug-report.md
Labels: DocType - Documentation, DocType - Template, Type - Error

#115 More drop down support
  src/webapp/client/js/index.js
  src/webapp/gradebookServer.js
Labels: DocType - Code, Location - Server, Type - Enhancement

#114 Modify enroll students ui
  src/webapp/client/index.html
  src/webapp/gradebookServer.js
Labels: DocType - Code, Location - Client, Location - Server

#112 Update DB Functions for Section Requirements
  src/db/addEnrolleeMgmt.sql
  src/db/addInstructorMgmt.sql
  src/db/addSectionMgmt.sql
  src/db/addTermMgmt.sql
Labels: DocType - Code, Type - Enhancement

#116 Features
  src/db/addEnrolleeMgmt.sql
  src/db/addInstructorMgmt.sql
  src/db/addSectionMgmt.sql
  src/db/addTermMgmt.sql
  src/webapp/client/index.html
  src/webapp/client/js/index.js
  src/webapp/gradebookServer.js
Labels: DocType - Code, Location - Client, Location - Server, Type - Bug, Type - Enhancement

#117 Dev into Master
  .github/ISSUE_TEMPLATE/client-bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/idea-request.md
  .github/ISSUE_TEMPLATE/server-bug-report.md
  src/db/addEnrolleeMgmt.sql
  src/db/addInstructorMgmt.sql
  src/db/addSectionMgmt.sql
  src/db/addTermMgmt.sql
  src/webapp/client/index.html
  src/webapp/client/js/index.js
  src/webapp/gradebookServer.js
Labels: DocType - Code, DocType - Documentation, Location - Client, Location - Server, Type - Bug, Type - Enhancement

#118 Apply Patch 1 to Gradebook 0.5.9
  src/db/addTermMgmt.sql
  src/webapp/client/js/index.js
  src/webapp/gradebookServer.js
Labels: DocType - Code, Location - Server, Type - Bug

#119 Merge dev into master
  src/db/addTermMgmt.sql
  src/webapp/client/js/index.js
  src/webapp/gradebookServer.js
Labels: DocType - Code, Location - Server, Type - Bug
